<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag "reset", "forms", "scaffold", "typography", "grid", "application" %>
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="ie.css" type="text/css" media="screen, projection">
      <![endif]-->
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
